@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/AfterLoginEmployer.cshtml";
}
@using EntityLayer
@model List<CvTable>

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Filtrele
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="row">
            <div class="col"><p>Filtrelenecek Sözcüğü giriniz: &nbsp; <input type="text" id="AdSoyad" /></p></div>
            @*<div class="col"><p>Deneyim <input type="text" id="Deneyim" /></p></div>
            <div class="col"><p>Eğitim:&nbsp; <input type="text" id="egitim" /></p></div>
            <div class="col"><p>Sertifikalar <input type="text" id="Sertifikalar" /></p></div>*@
        </div>
        
    </div>
</div>


<div class="row" id="card">
@foreach(var item in Model){
   @* @item.Deneyim
    @item.Eğitim
    @item.AdSoyad*@
    <div class="col-3 mt-2">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">@item.AdSoyad</h5>
                    @*<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>*@
                    <p class="card-text">@item.Deneyim</p>
                    <p class="card-text">@item.Eğitim</p>
                    <p class="card-text">@item.Sertifikalar</p>
                    <p class="card-text">@item.Beceriler</p>                    
                </div>
            </div>
        </div>
}
    </div>


<script>
    $(document).ready(function () {
        $("#AdSoyad").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#card div").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            })
        })
    })
</script>


