@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/AfterLoginEmployer.cshtml";
}
@using EntityLayer
@model List<IsIlanı>

    <h2>İş ilanlarım</h2>
    <hr />
<div class="row" id="card">
    @foreach (var item in Model)
    {
        @* @item.Deneyim
    @item.Eğitim
    @item.AdSoyad*@
        <div class="col-3 mt-2">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">@item.Baslik</h5>
                    @*<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>*@
                    <p class="card-text"><b>İş hakkında:</b> @item.Icerik</p>
                    <p class="card-text"><b>Çalışma türü:</b> @item.CalismaTuru</p>
                </div>
            </div>
        </div>
    }
</div>
